html {
    font-size: 16px;
    
}

body {
    margin: 0;
    /* font-family: 'Baloo Paaji 2', cursive; */
    font-family: 'Lora', serif;
    font-size: 1rem;
    color: rgb(18, 32, 73);
    /* background-color: #FFF; */
    background-color: rgba(235, 230, 230, 0.747);

    
}

/* from minimum screen width of 600px, css will be applied on body element*/
/* @media (min-width: 600px) and (max-width:1000px) {
    body {
        background-color: rgb(18, 32, 73);
        color: silver;
    }
} */

/************************ TYPOGRAPHY ***************************/

h1.title {
    font-size: 2rem;
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: 700;
}
@media (max-width: 675px) {
    h1.title {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
}

p.subtitle {
    font-size: 0.75rem;
    margin-top: 0em;
    font-weight: 900;
}
@media (max-width: 675px) {
    p.subtitle {
        font-size: 0.7rem;
        font-weight: 500;
        text-align: center;
    }
}

h2 {
    font-size: 1.5rem;
}
@media (max-width: 675px) {
    h2 {
        font-size: 1.2rem;
    }
}

.centered {
    text-align: center;
}

p {
    margin-top: 0;
    text-align: justify;
}
@media (max-width: 675px) {
    p {
        font-size: 0.9rem;
    }
}
/***** END Typography *****/

/**************************** HEADER STYLING ************************/

header {
    background-color: #312614;
    color: #a8a1a1;
    margin-top: 0.2rem;
    
}

span {
    color:#B7832F;
}

/****************************** NAVIGATION STYLING ************************/


.nav-list {
    /* border: 2px orange solid;   */
    list-style: none;
    display: flex;
   
}
.nav-list-li {
    /* border: 2px magenta solid;  */
    margin-left: 2em;
    
}
@media (max-width: 675px) {
    .nav-list {
    /* media query properly placed after the default selector we already have */
        flex-direction: column;
        padding-left: 0em;
        align-items: center;
    }
    .nav-list-li {
        margin: 0.5em 0;
    }
    
}

.nav-link {
    /* border: 2px green solid;  */
    color:#a8a1a1;
    font-weight: 900;
}

.nav-link:hover,
.nav-link:focus {
    color: #c68282;
	font-size: 105%;
}

.current-page {
    border-bottom: 1px #a8a1a1 solid ;
}

.current-page:hover {
    border-bottom: 1px #c68282 solid ;
}
/***** END of Header Styling *****/

/******************************* LAYOUT *****************************/

.header-container {
    /* border: 2px green solid; */
    margin: 0 auto;
    width: 95%;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
      
}

@media (max-width: 675px) {
    .header-container {
    /* media query properly placed after the default selector we already have */
        flex-direction: column;
    }
}

.main-container {
    /* border: 1px rgb(173, 169, 169) solid; */
    width: 95%;
    max-width: 980px; /* setting a maximum it will grow */
    margin: 0 auto;
    padding: 0 5px;
    /* background-color: rgba(235, 230, 230, 0.747); */
}

.containerImage {
    width: 100%;
}

img {
    margin-top: 0.2em;
    max-width: 100%;
}

.columns {
    /* border: 5px yellow solid; */
    display: flex;
    justify-content: space-between; /* we need to add different widths for col to notice this property*/
    margin: 0.5em 0;
}

@media (max-width: 675px) {
    .columns {
    /* media query properly placed after the default selector we already have */
        flex-direction: column;
    }
}

/***** END of layout styling *****/

.col-colorNew {
    background-color: #312614;
    color: #a8a1a1;
    padding: 1em;
}

/************************** Setting columns widths through individual elements ************/

.col-fullWidth{
    width: 100%;
}

.col-1 {
    width: 25%;
}
.col-2 {
    width: 45%;
}
.col-3 {
    width: 73%;
}
.col-4 {
    width: 20%;
}
@media (max-width: 675px) {
    /* media query properly placed after the default selector we already have */
    .col-1, 
    .col-2, 
    .col-3, 
    .col-4 {
        width: 100%;
    }
}

.ul-sources {
    padding-left: 1em;
}

footer {
    background-color: #312614;
    color: #a8a1a1;
    padding: 0.5em;
}
.footer-container {
    margin: 0 auto;
    max-width: 980px;
}

.btn {
	display: inline-block;
	color: #eedcdc;
	background-color: #534848;
	border-radius: 0.18em; /*relative to the font-size of own element*/
	padding: 0.45em; /*relative to the font-size of own element, when setting other properties*/
	font-size: 0.9rem; /* relative to parent which we let for root element*/
}

a {
	color:#4f4f53;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
a:hover, a:focus {
	color: #c68282;
	font-size: 105%;
}

@media (max-width: 675px) {
    a, .btn {
        font-size: 0.9rem;
    }
}

