html {
    font-size: 16px;
    
}

body {
    margin: 0;
    /* font-family: 'Baloo Paaji 2', cursive; */
    font-family: 'Lora', serif;
    font-size: 1rem;
    color: rgb(18, 32, 73);
    /* background-color: #FFF; */
    background-color: rgba(235, 230, 230, 0.747);

    
}

/* from minimum screen width of 600px, css will be applied on body element*/
/* @media (min-width: 600px) and (max-width:1000px) {
    body {
        background-color: rgb(18, 32, 73);
        color: silver;
    }
} */

/************************ TYPOGRAPHY ***************************/

h1.title {
    font-size: 2.5rem;
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: 400;
}
p.subtitle {
    font-size: 0.75rem;
    margin-top: 0em;
    font-weight: 900;

}

h2 {
    font-size: 1.5rem;
}
.centered {
    text-align: center;
}

p {
    margin-top: 0;
    text-align: justify;
}

/***** END Typography *****/

/**************************** HEADER STYLING ************************/

header {
    background-color: #312614;
    color: #a8a1a1;
    
}
div.site-title {
    margin-left: 1em;
    /* border: 2px yellow solid; */
}
span {
    color:#B7832F;
}


/****************************** NAVIGATION STYLING ************************/

/* .nav {
    border: 2px black solid;
} */

nav.nav {
    margin-right: 1em;
}
.nav-list {
    /* border: 2px orange solid;   */
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    margin-bottom: 0.2em; /* keeps img and header without spaces between them */
}

.nav-list-li {
    /* border: 2px magenta solid;  */
    margin-left: 3em;
    
}

.nav-link {
    /* border: 2px green solid;  */
    color:#5e5e69;
    font-weight: 900;

}

.nav-link:hover,
.nav-link:focus {
    color: #c68282;
	font-size: 105%;
}

.current-page {
    border-bottom: 1px #5e5e69 solid ;
}

.current-page:hover {
    border-bottom: 1px #c68282 solid ;


}
/***** END of Header Styling *****/

/******************************* LAYOUT *****************************/

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px green solid; */
}

.main-container {
    width: 90%;
    max-width: 980px; /* setting a maximum it will grow */
    margin: 0 auto;
    /* border: 1px rgb(173, 169, 169) solid; */
    padding: 0 5px;
    /* background-color: rgba(235, 230, 230, 0.747); */
}

.containerImage {
    width: 100%;
}

img {
    max-width: 100%;
}

.columns {
    /* border: 5px yellow solid; */
    display: flex;
    justify-content: space-between; /* we need to add different widths for col to notice this property*/
    margin: 0.5em 0;
}

@media (max-width: 600px) {
    .columns {
    /* media query properly placed after the default selector we already have */
        flex-direction: column;
    }
}

/***** END of layout styling *****/

/* .col {
     border: 5px pink solid;
}  */

.col-colorNew {
    background-color: #312614;
    color: #a8a1a1;
    padding: 1em;
}

/************************** Setting columns widths through individual elements ************/

.col-fullWidth{
    width: 100%;
}

.col-1 {
    width: 25%;
}
.col-2 {
    width: 45%;
}
.col-3 {
    width: 73%;
}
.col-4 {
    width: 20%;
}

@media (max-width: 600px) {
    /* media query properly placed after the default selector we already have */
    .col-1, 
    .col-2, 
    .col-3, 
    .col-4 {
        width: 100%;
    }
}

.btn {
	display: inline-block;
	color: #eedcdc;
	background-color: #534848;
	border-radius: 0.18em; /*relative to the font-size of own element*/
	padding: 0.45em; /*relative to the font-size of own element, when setting other properties*/
	font-size: 0.9rem; /* relative to parent which we let for root element*/
}

a {
	color:#4f4f53;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
}
a:hover, a:focus {
	color: #c68282;
	font-size: 105%;
}

.ul-sources {
    padding-left: 1em;
}
